.container-footer{
    background: #1d1d1d;
    color: #ffffff;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.container-footer a{
    color: #ffffff;
}

.title-footer {
    font-size: 20px;
    margin-bottom: 30px;
}


.container-ul i{
    font-size: 40px;
    margin: 0 20px;
    transition: .5s;
}
.container-ul i:hover{
    transform: translateY(-8px);
    color: #ff2a2b;
}

.container-footer h6{
    font-size: 10px;
}

.p-footer { 
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}
.p-footer p{
    font-size: 15px;
    margin: 0 20px;
    color: #474747;
    cursor: pointer;
}
.p-footer p:hover{
    color: #ffffff;
}