@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Open+Sans:wght@300&family=STIX+Two+Math&display=swap');

html{
    background-color: #1d1d1d;
}

body{
    background: #1d1d1d url(https://gamepedia.cursecdn.com/deadbydaylight_gamepedia_en/0/05/Tbl-bg.jpg);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-color: red;
}
*::-webkit-scrollbar{
    width: 10px;
    height: 7px;
}
*::-webkit-scrollbar-thumb{
    background:#cecece70;
    border-radius: 10px;
}
*::selection{
    background-color: #ff2a2b;
    color: #ffffff;
}
a:link{
    text-decoration: none;
}

.title{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
    max-width: 100%;
    max-height: 250px;
    font-family: 'STIX Two Math', serif;
}
.title h1{
    text-shadow:0px 0px 3px #ffffff;
    transition: .5s;
    cursor:default;
}
.title h1:hover{
    text-shadow:0px 0px 6px #ffffff;
}

.title img{
    margin-top: 41px;
    max-width: 60px;
}
.title h1{
    margin: 47px 20px 0 0;
    font-size: 55px;
}

.scroll{
    width: 50px;
    height: 50px;
}

.line2{
    height: 3px;
    max-width: 700px;
    background: #ffffff;
    border: none;
    opacity: .3;
}