.container-info{
    color: #ffffff;
    padding: 10px;
    margin: 110px 110px 100px 110px;
    margin-top: 100px;
}

.info-article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 0.25s;
    margin-bottom: 40px;
    border-radius: 10px;
}

.info-article img{
    max-width: 400px;
    margin: 40px;
}
.info-article:hover{
    transform: translateY(-10px);
    box-shadow: 10px 20px 40px rgba(105, 105, 105, 0.2);
}

.info-article div{
    max-width: 600px;
    max-height: 400px;
    overflow: auto;
    font-family: 'Open Sans', sans-serif;
}

.videoyt{
    display: flex;
    justify-content: center;
    margin: 110px 0 0 0;
}

.videoyt iframe{
    transition: .5s;
}
.videoyt iframe:hover{
    box-shadow:0px 0px 18px #ffffff;
}

.line{
    height: 2px;
    background: #ffffff;
    border: none;
    opacity: .5;
    display: none;
}

@media only screen and (max-width:1319px){
    .line{
        display: block;
    }
}